.icon {
  background-color: #f6921e;
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.3s ease-in;
  border: solid transparent;
}
.icon h4 {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.icon:hover {
  background-color: #161b1d;
}
.card-text {
  background-color: #161b1d;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 7px;
  padding: 10px;
}
.home .card-body h4 {
  transition: all 0.3s ease-in;
}
.home .card-body h4:hover {
  background-color: #f6921e;
}
.main-article-img {
  height: 400px;
}
.home-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-articles a {
  color: #333;
}
.home-articles .article-img {
  width: 75px;
}
.home-articles .article-para {
  width: calc(100% - 85px);
}
.single-article {
  transition: all 0.3s ease-in;
}
.single-article:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.card {
  background-color: inherit;
}
.card-icon {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 10px;
  background-color: #f6921e;
  color: #fff;
  border-radius: 8px;
}
